@import "tailwindcss";

:root {
  --soft-white: #ededed;
  --light-green: #8f9779;
  --dark-green: #384b45;
}

@theme inline {
  --color-background: var(--soft-white);
  --color-background-green: var(--background-green);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

html {
  background: var(--light-green);
}

body {
  background: var(--soft-white);
  color: var(--light-green);
  font-family: Arial, Helvetica, sans-serif;
}
